@import "./vars.scss";
@import "./Media.scss";

body {
  margin: 0;
  font-family: $theme-font;
  background-image: linear-gradient(#216bc0, #3d2ba3);
}

a{
  color:white;
}

* {
  box-sizing: border-box;
}
